<%= styled_flash %>

<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
<% end %>

<ul>
  <% @links.each do |link| %>
    <li id="link-<%= link.id %>">
      <a href="<%= link.url %>" target="_blank">
        <%= link.title %>
      </a>
      <a href="/links/<%= link.id %>/comments/new">
        Comment
      </a>
      <a href="/links/<%= link.id %>/tags/new">
        Add tag
      </a>
      <form action="/links/<%= link.id %>/delete" method="post">
        <input type="submit" value="Delete" />
      </form>
      <ul>
        <% link.tags.each do |tag| %>
          <li>
            <a href="/tags/<%= tag.id %>/links">
              <%= tag.content %>
            </a>
          </li>
        <% end %>
      </ul>
      <ul>
        <% link.comments.each do |comment| %>
          <li><%= comment.text %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>